// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

// body {
//   font-family: "Poppins", sans-serif !important;
// }

.wrap {
	width: 100vw;
	aspect-ratio: 16 / 10;
	background: linear-gradient(35deg, #3c2254 50%, #643a7a 25%);
  font-family: "Poppins", sans-serif !important;
}